// Colors

$color-primary: blue;
$color-primary-light: lightblue;
$color-primary-dark: darkblue;

$color-secondary: #3f51b5;
$color-secondary-light: #4357c3;
$color-secondary-light-2: #8c9eff;

$color-white: #eee;

$color-black: #555;
