@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideBottom {
  0% {
    transform: translate(-50%, -20%);
    opacity: 0; }
  100% {
    transform: translate(-50%, -60%);
    opacity: 1; } }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 66%; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

[class^="section"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

body {
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #555; }

.heading-primary {
  color: #eee;
  margin-bottom: 5rem;
  text-transform: capitalize; }
  .heading-primary--main {
    display: block;
    font-size: 5.6rem;
    letter-spacing: .4rem;
    text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: .1rem;
        font-size: 3.6rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    letter-spacing: 1px;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0;
        font-size: 2.2rem; } }

.heading-secondary {
  font-size: 3.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2); }
  .heading-secondary--white {
    color: #eee; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      letter-spacing: 0;
      font-size: 2.8rem; } }

.text-lead {
  max-width: 80rem;
  padding: 0 3rem;
  margin: 2rem 0;
  text-align: center;
  letter-spacing: .5px; }
  .text-lead--white {
    color: #eee; }

.text-promo {
  font-weight: 300;
  font-size: 2.4rem;
  margin: 5rem 0 0 0;
  padding: 0 3rem; }

u-margin-top-small {
  margin-top: 2rem; }

u-margin-top-medium {
  margin-top: 4rem; }

u-margin-top-large {
  margin-top: 8rem; }

u-margin-bottom-small {
  margin-bottom: 2rem; }

u-margin-bottom-medium {
  margin-bottom: 4rem; }

u-margin-bottom-large {
  margin-bottom: 8rem; }

u-text-center {
  text-align: center; }

.btn {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 3px;
  padding: 1.8rem 4rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.7rem;
      padding: 1.4rem 2.2rem; } }
  .btn--primary {
    color: #eee;
    background-color: #3f51b5;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: .2s all; }
    .btn--primary:hover {
      background-color: #4357c3; }
  .btn--secondary {
    background-color: #eee;
    color: #3f51b5;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2); }
    .btn--secondary:hover {
      background-color: #dadada;
      cursor: pointer; }
  .btn--text {
    text-transform: none;
    border-radius: 0;
    font-size: 2.4rem;
    padding: 0;
    font-weight: 400;
    color: #3f51b5;
    transition: .2s all; }
    .btn--text:hover {
      color: #8c9eff; }

.composition {
  background-position: center;
  background-size: cover;
  height: 30rem;
  border-radius: 2px;
  transition: all .3s;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); }
  .composition:hover {
    transform: scale(1.02); }

.horizontal-line {
  width: 25rem;
  height: .3rem;
  border: 0;
  background-color: #3f51b5;
  margin-top: 1rem;
  margin-bottom: 10rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2); }
  .horizontal-line--white {
    background-color: #eee; }

.feature-box {
  color: #eee; }
  .feature-box__icon {
    margin-top: 2rem;
    color: #ddd;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2); }
  .feature-box__title {
    font-size: 2.4rem;
    margin: 2.5rem 0;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); }
  .feature-box__text {
    max-width: 65rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #ddd; }

.testimonial {
  text-align: center;
  padding: 0 10rem; }
  .testimonial:not(:last-child) {
    margin-bottom: 8rem; }
  .testimonial__quote {
    max-width: 110rem;
    font-size: 2rem;
    font-weight: 300; }
  .testimonial__author {
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-top: .8rem; }

.form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10rem;
  width: 60%; }
  .form__input {
    flex-grow: 1;
    padding: 1.5rem;
    margin-right: 3rem;
    font-size: 2rem;
    color: #3f51b5;
    font-weight: 700;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 75em) {
      .form__input {
        flex-basis: 100%;
        margin: 0 0 1.2rem 0;
        text-align: center; } }
  .form__btn {
    border: none; }

.header {
  background-image: linear-gradient(to right bottom, rgba(173, 216, 230, 0.4), rgba(0, 0, 139, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  height: 95vh;
  position: relative; }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 3rem 10rem;
    animation: 1s fadeIn .5s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 56.25em) {
      .header__nav {
        padding: 3rem 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__nav {
        flex-direction: column;
        align-items: center; } }
  .header__brand {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: .1rem; }
  .header__list {
    display: flex;
    justify-content: space-around;
    list-style: none; }
  .header__item {
    padding: 0 1.6rem;
    font-size: 2.2rem;
    letter-spacing: .1rem; }
    .header__item:last-child {
      padding-right: 0; }
  .header__link {
    color: #eee;
    text-decoration: none;
    opacity: .8;
    transition: all .1s; }
    .header__link:hover {
      opacity: 1; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -60%);
    animation: 1s slideBottom 1s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        margin-top: 3rem; } }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 10rem; }
  @media only screen and (max-width: 56.25em) {
    .row {
      flex-direction: column;
      padding: 0 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      padding: 0 4rem; } }

[class^="col"] {
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    [class^="col"] {
      margin: 1rem 0; } }

.col-1-of-2 {
  flex-basis: 49%; }

.col-1-of-3 {
  flex-basis: 32%; }

.col-1-of-4 {
  flex-basis: 24%; }

.col-2-of-3 {
  flex-basis: 66%; }

.col-3-of-4 {
  flex-basis: 74.5%; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
  background-color: #555; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      flex-direction: column; } }
  .footer__copy {
    color: #eee;
    letter-spacing: .5px; }
  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav {
        margin-top: .5rem; } }
  .footer__social:not(:last-child) {
    margin-right: 3rem; }
  .footer__link {
    color: #eee;
    opacity: .8;
    transition: all .2s; }
    .footer__link:hover {
      opacity: 1; }

.section-destinations {
  min-height: 100vh;
  padding: 20rem 0;
  margin-top: -10rem;
  background-color: #eee; }

.section-packages {
  min-height: 100vh;
  padding: 12rem 0 20rem 0;
  margin-top: -10rem;
  background-color: #4357c3;
  transform: skewY(-1.6deg); }
  .section-packages > * {
    transform: skewY(1.6deg); }

.section-testimonials {
  min-height: 100vh;
  padding: 12rem 0;
  margin-top: -10rem;
  background-color: #eee;
  transform: skewY(-1.6deg); }
  .section-testimonials > * {
    transform: skewY(1.6deg); }

.section-contact {
  padding: 20rem 0;
  margin-top: -10rem;
  background-color: #4357c3; }
